<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">speciality</th>
        <th scope="col">experience</th>
        <th scope="col">email</th>
        
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let c of i">
        <th scope="row">{{c.id}}</th>
        <td>{{c.name}}</td>
        <td>{{c.speciality}}</td>
        <td>{{c.experience}}</td>
        <td>{{c.email}}</td>
        <td> <button class="btn btn-success" (click)="goToDisplay(c.id)" >Display</button>
          <button class="btn btn-warning" (click)="goToEdit(c.id)" >Edit</button>
 
         <button class="btn btn-danger" (click)="deleteTeacher(c.id)">Delete</button> </td>

      </tr>
      
    </tbody>
  </table>