<div class="col-lg-6">
    <div class="contact_form">
        <div class="contact_info_title">Add Course</div>
        <form action="#" class="comment_form" #courseForm="ngForm" (ngSubmit)="addCourse()">
            <div>
                <div class="form_title">Title</div>
                <input type="text" class="comment_input" required="required" class="form-control" [(ngModel)]="course.title"
                [ngModelOptions]="{standalone:true}" placeholder="title">
            </div>
           
            <div>
                <div class="form_title">Description</div>
                <textarea class="comment_input comment_textarea" required="required" class="form-control" [(ngModel)]="course.description"
                [ngModelOptions]="{standalone:true}" placeholder="description"></textarea>
            </div>
            <div>
                <div class="form_title">Price</div>
                <input type="number" class="comment_input" required="required" class="form-control" [(ngModel)]="course.price"
                [ngModelOptions]="{standalone:true}" placeholder="price">
            </div>
            <div>
                <div class="form_title">Number-place</div>
                <input type="number" class="comment_input" required="required" class="form-control" [(ngModel)]="course.number-place"
                [ngModelOptions]="{standalone:true}" placeholder="number-place">
            </div>
            <div>
                <div class="form_title">Teacher-ID</div>
                <input type="text" class="comment_input" required="required" class="form-control" [(ngModel)]="course.teacher-id"
                [ngModelOptions]="{standalone:true}" placeholder="teacher-id">
            </div>
            <div>
                <button type="submit" (click)="addCourse()" class="comment_button trans_200" value="Add Course">submit now</button>
            </div>
        </form>
    </div>
</div>