



<head>
  <title>Signup</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Unicat project">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="assets/styles/bootstrap4/bootstrap.min.css">
  <link href="assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="assets/styles/contact.css">
  <link rel="stylesheet" type="text/css" href="assets/styles/contact_responsive.css">
  </head>
  <body>
  
  
  
  
  <div class="super_container">
  
  
    <!-- Contact -->
  
    <div class="contact">
      
      <!-- Contact Map -->
  
  
      <!-- Contact Info -->
  
      <div class="contact_info_container">
        <div class="container">
          <div class="row">
  
            <!-- Contact Form -->
            <div class="col-lg-6">
              <div class="contact_form">
                <div class="contact_info_title">Signup Form</div>
        <form [formGroup]="signupForm" class="comment_form">
          <div class="form-group">
            <input type="text" class="comment_input" formControlName="firstName" placeholder="First Name">
          </div>
          <div *ngIf="signupForm.controls['firstName'].invalid && (signupForm.controls['firstName'].touched || signupForm.controls['firstName'].dirty)">
            <div *ngIf="signupForm.controls['firstName'].errors.required" class="red">
              First name is required
            </div>
            
            <div *ngIf="signupForm.controls['firstName'].errors.minlength" class="red">
              First name must have at least 3 chars

            </div>

          </div>
          <div class="form-group">
            <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name">
          </div>
          <div *ngIf="signupForm.controls['lastName'].invalid && (signupForm.controls['lastName'].touched || signupForm.controls['firstName'].dirty)">
            <div *ngIf="signupForm.controls['lastName'].errors.required" class="red">
              last name is required
            </div>           
            <div *ngIf="signupForm.controls['lastName'].errors.minlength" class="red">
              last name must have at least 5 chars
            </div>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" formControlName="email" placeholder="Email">
          </div>
          <div *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].touched || signupForm.controls['email'].dirty)">
            <div *ngIf="signupForm.controls['email'].errors.required" class="red">
              Email  is required
            </div>           
            <div *ngIf="signupForm.controls['email'].errors.email" class="red">
              Type Email
            </div>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" formControlName="password" placeholder="Password">
          </div>
          <div *ngIf="signupForm.controls['password'].invalid && (signupForm.controls['password'].touched || signupForm.controls['password'].dirty)">
            <div *ngIf="signupForm.controls['password'].errors.required" class="red">
              Password is required
            </div>            
            <div *ngIf="signupForm.controls['password'].errors.minlength" class="red">
              Password must have at least 8 chars
            </div>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" formControlName="ConfirmPassword" placeholder="confirm Password">
          </div>
          <div class="form-group">
            <input type="submit" (click)="signup()" class="comment_button trans_200" value="Signup">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
  </div>
</div>



<!-- <app-banner title="Signup"></app-banner>
 <div class="super_container"> --> 


	<!-- Contact -->

	<!-- <div class="contact">
    <div class="contact_info_container">
			<div class="container">
				<div class="row"> -->
<!-- 
 <div class="col-lg-6">
    <div class="contact_form">
        <div class="contact_info_title">Signup Form</div> -->


<!-- 
<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-9 mx-auto text-center">
        <h1 class="text-white">Signup</h1>
      </div>
    </div>
  </div>
</div>
<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7"> -->
        <!-- <form [formGroup]="signupForm">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="firstName" placeholder="First Name">
          </div>
          <div *ngIf="signupForm.controls['firstName'].invalid && (signupForm.controls['firstName'].touched || signupForm.controls['firstName'].dirty)">
            <div *ngIf="signupForm.controls['firstName'].errors.required" class="red">
              First name is required
            </div>
            
            <div *ngIf="signupForm.controls['firstName'].errors.minlength" class="red">
              First name must have at least 3 chars

            </div>

          </div>
          <div class="form-group">
            <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name">
          </div>
          <div *ngIf="signupForm.controls['lastName'].invalid && (signupForm.controls['lastName'].touched || signupForm.controls['firstName'].dirty)">
            <div *ngIf="signupForm.controls['lastName'].errors.required" class="red">
              last name is required
            </div>           
            <div *ngIf="signupForm.controls['lastName'].errors.minlength" class="red">
              last name must have at least 5 chars
            </div>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" formControlName="email" placeholder="Email">
          </div>
          <div *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].touched || signupForm.controls['email'].dirty)">
            <div *ngIf="signupForm.controls['email'].errors.required" class="red">
              Email  is required
            </div>           
            <div *ngIf="signupForm.controls['email'].errors.email" class="red">
              Type Email
            </div>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" formControlName="pwd" placeholder="Password">
          </div>
          <div *ngIf="signupForm.controls['pwd'].invalid && (signupForm.controls['pwd'].touched || signupForm.controls['pwd'].dirty)">
            <div *ngIf="signupForm.controls['pwd'].errors.required" class="red">
              Password is required
            </div>            
            <div *ngIf="signupForm.controls['pwd'].errors.minlength" class="red">
              Password must have at least 8 chars
            </div>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" formControlName="confirmPwd" placeholder="confirm Password">
          </div>
          <div class="form-group">
            <input type="submit" (click)="signup()" class="btn btn-primary py-3 px-5" value="Signup">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div> -->


<!-- <div class="super_container"> -->


	<!-- Contact -->

	<!-- <div class="contact">
    <div class="contact_info_container">
			<div class="container">
				<div class="row"> -->

<!-- <div class="col-lg-6">
    <div class="contact_form">
        <div class="contact_info_title">Signup Form</div>
        <form [formGroup]="signupForm">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              formControlName="firstName"
              placeholder="First Name"
              required
            />
          </div>
          <div
            *ngIf="
              signupForm.controls['firstName'].invalid &&
              (signupForm.controls['firstName'].touched ||
                signupForm.controls['firstName'].dirty)
            "
          >
            <div *ngIf="signupForm.controls['firstName'].errors.required">
              First Name is required
            </div>
            <div *ngIf="signupForm.controls['firstName'].errors.minlength">
              First mast have at least 5 chars
            </div>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              formControlName="lastName"
              placeholder="Last Name"
            />
          </div>
          <div
            *ngIf="
              signupForm.controls['lastName'].invalid &&
              (signupForm.controls['lastName'].touched ||
                signupForm.controls['lastName'].dirty)
            "
          >
            <div *ngIf="signupForm.controls['lastName'].errors.required">
              Last Name is required
            </div>
            <div *ngIf="signupForm.controls['lastName'].errors.minlength">
              lastName mast have at least 5 chars
            </div>
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              formControlName="email"
              placeholder="email"
            />
          </div>
          <div
            *ngIf="
              signupForm.controls['email'].invalid &&
              (signupForm.controls['email'].touched ||
                signupForm.controls['email'].dirty)
            "
          >
            <div *ngIf="signupForm.controls['email'].errors.required">
              email is required
            </div>
            <div *ngIf="signupForm.controls['email'].errors.email">
              Format email error
            </div>
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              formControlName="password"
              placeholder="password"
            />
          </div>
          <div
            *ngIf="
              signupForm.controls['password'].invalid &&
              (signupForm.controls['password'].touched ||
                signupForm.controls['password'].dirty)
            "
          >
            <div *ngIf="signupForm.controls['password'].errors.required">
              password is required
            </div>
            <div
              *ngIf="signupForm.controls['password'].errors.pattern"
              class="error"
            >
              The password should
              <li>At least one Uppercase character</li>
              <li>At least one lowerCase character</li>
              <li>At least one numeric character</li>
              <li>At least one special character</li>
            </div>
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              formControlName="ConfirmPassword"
              placeholder="ConfirmPassword"
            />
          </div>
          <div
            *ngIf="
              signupForm.controls['ConfirmPassword'].invalid &&
              (signupForm.controls['ConfirmPassword'].touched ||
                signupForm.controls['ConfirmPassword'].dirty)
            "
          >
            <div
              *ngIf="signupForm.controls['ConfirmPassword'].errors.minlength"
            >
              ConfirmPassword > 6
            </div>
            <div *ngIf="signupForm.controls['ConfirmPassword'].errors.noMatch">
              ConfirmPassword error
            </div>
          </div>

          <div class="form-group">
            <input
              type="submit"
              class="btn btn-primary py-3 px-5"
              (click)="signup()"
              value="Signup"
            />
          </div>
        </form> -->
        <!-- <form class="comment_form" [formGroup]="signupForm">
            <div>
                <div class="form_title">First Name</div>
                <input type="text" class="comment_input" required="required" formControlName="firstName" placeholder="First Name">
                
                  <div *ngIf="signupForm.controls['firstName'].invalid && (signupForm.controls['firstName'].touched || signupForm.controls['firstName'].dirty)">
                    <div *ngIf="signupForm.controls['firstName'].errors.required" >
                      First name is required
                    </div>
                    
                    <div *ngIf="signupForm.controls['firstName'].errors.minlength" >
                      First name must have at least 3 chars
        
                    </div>
        
                  </div>
            </div>
            <div>
                <div class="form_title">Last Name</div>
                <input type="text" class="comment_input" required="required" formControlName="lastName" placeholder="lastName">
                
                  <div *ngIf="signupForm.controls['lastName'].invalid && (signupForm.controls['lastName'].touched || signupForm.controls['lastName'].dirty)">
                    <div *ngIf="signupForm.controls['lastName'].errors.required" >
                      last name is required
                    </div>
                    
                    <div *ngIf="signupForm.controls['lastName'].errors.minlength" >
                      lastst name must have at least 5 chars
        
                    </div>
        
                  </div>
            </div>
            <div>
                <div class="form_title">Email</div>
                <input type="text" class="comment_input" required="required" formControlName="email" placeholder="Email">
             <div *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].touched || signupForm.controls['email'].dirty)">
            <div *ngIf="signupForm.controls['email'].errors.required" >
              Email  is required
            </div>           
            <div *ngIf="signupForm.controls['email'].errors.email" >
              Type Email
            </div>
          </div>
              </div>
            <div>
                <div class="form_title">Password</div>
            <input type="password" class="comment_input" formControlName="pwd" placeholder="Password">
          <div *ngIf="signupForm.controls['pwd'].invalid && (signupForm.controls['pwd'].touched || signupForm.controls['pwd'].dirty)">
            <div *ngIf="signupForm.controls['pwd'].errors.required" >
              Password is required
            </div>            
            <div *ngIf="signupForm.controls['pwd'].errors.minlength" >
              Password must have at least 8 chars
            </div>
          </div>  
          </div>
            <div>
                          <input type="submit" (click)="signup()" class="comment_button trans_200" value="Signup">
  
            </div>
        </form> -->
        <!-- <div
          class="alert alert-warning"
          *ngIf="isSignUpFailed"
        >
          Signup failed!<br />{{ errorMessage }}
        </div>
        <div class="alert alert-success" *ngIf="isSuccessful">
          Your registration is successful!
        </div>
    </div> -->
<!-- </div> -->
<!-- </div></div></div></div> -->