

<div class="h">

<head>
  <title>Signup</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Unicat project">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="assets/styles/bootstrap4/bootstrap.min.css">
  <link href="assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="assets/styles/contact.css">
  <link rel="stylesheet" type="text/css" href="assets/styles/contact_responsive.css">
  </head>
  <body>
  
  
  
  
  <div class="super_container">
  
  
  
    <div class="contact">
      
 
  
      <div class="contact_info_container">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-6">
              <div class="contact_form">
                <div class="contact_info_title">Signup Form</div>
        <form [formGroup]="signupForm" class="comment_form">
          <div class="form-group">
            <input type="text" class="comment_input" formControlName="firstName" placeholder="First Name">
          </div>
          <div *ngIf="signupForm.controls['firstName'].invalid && (signupForm.controls['firstName'].touched || signupForm.controls['firstName'].dirty)">
            <div *ngIf="signupForm.controls['firstName'].errors.required" class="red">
              First name is required
            </div>
            
            <div *ngIf="signupForm.controls['firstName'].errors.minlength" class="red">
              First name must have at least 3 chars

            </div>

          </div>
          <div class="form-group">
            <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name">
          </div>
          <div *ngIf="signupForm.controls['lastName'].invalid && (signupForm.controls['lastName'].touched || signupForm.controls['firstName'].dirty)">
            <div *ngIf="signupForm.controls['lastName'].errors.required" class="red">
              last name is required
            </div>           
            <div *ngIf="signupForm.controls['lastName'].errors.minlength" class="red">
              last name must have at least 5 chars
            </div>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" formControlName="email" placeholder="Email">
          </div>
          <div *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].touched || signupForm.controls['email'].dirty)">
            <div *ngIf="signupForm.controls['email'].errors.required" class="red">
              Email  is required
            </div>           
            <div *ngIf="signupForm.controls['email'].errors.email" class="red">
              Type Email
            </div>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" formControlName="password" placeholder="Password">
          </div>
          <div *ngIf="signupForm.controls['password'].invalid && (signupForm.controls['password'].touched || signupForm.controls['password'].dirty)">
            <div *ngIf="signupForm.controls['password'].errors.required" class="red">
              Password is required
            </div>            
            <div *ngIf="signupForm.controls['password'].errors.minlength" class="red">
              Password must have at least 8 chars
            </div>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" formControlName="ConfirmPassword" placeholder="confirm Password">
          </div>
          <div class="form-group">
            <input type="submit" (click)="signup()" class="comment_button trans_200" value="Signup">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
  </div>
</div>

</div>
