


<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">title</th>
        <th scope="col">description</th>
        <th scope="col">teacher_id</th>
        <th scope="col">price</th>
        <th scope="col">number_place</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of courses">
        <!-- <td  ngSubmit="edit()"> <input type="text" [(ngModel)]="book.selected"/> -->
        <th scope="row">{{book.id}}</th>
        <td>{{book.title}}</td>
        <td>{{book.description}}</td>
        <td>{{book.teacher_id}}</td>
        <td>{{book.price}}</td>
        <td>{{book.number_place}}</td>


        <td>
          <button type="button" class="btn btn-success" (click)="goToDisplay(book.id);">DISPLAY</button>
          <button type="button" class="btn btn-warning" (click)="goToEdit(book.id)">EDIT</button>
          <button type="button" class="btn btn-danger" (click)="deleteCourse(book.id);">DELETE</button> 
        
        </td>

    
      </tr>
    </tbody>
  </table>
